{% extends "main/layout.html" %}
{% load static %}

{% block title %}
Ultimate Service Provider - About
{% endblock %}


{% block body %}
<div class="about-us-div">

  <h3>About Us</h3>

  <div>
    <img src="https://img1.wsimg.com/isteam/stock/2152/:/rs=w:600,h:300,cg:true,m/cr=w:600,h:300" alt="tools">
    <div>
      <h3>Your Repair Professional</h3>
      <p>I have always loved fixing things. Repair knowledge is not enough without experience. From woodworking to electrical installation, I have fostered all of the skills you need for household repairs and improvements. </p>
    </div>
  </div>

  <div>
    <img src="https://img1.wsimg.com/isteam/stock/2146/:/rs=w:600,h:300,cg:true,m/cr=w:600,h:300" alt="woodworking">
    <div>
      <h3>Renovation at a Fair Price</h3>
      <p>Whether you need a major repair or a renovation,  We can deliver professional skills at a fair price. It is our highest priority to get the job done right the first time on every assignment. </p>
    </div>
  </div>

  <div>
    <img src="https://img1.wsimg.com/isteam/ip/25c0a810-97fc-44d7-a423-394f6c5a5812/370000337_623353803242120_2538616107172312864_.jpg/:/cr=t:12.49%25,l:0%25,w:100%25,h:75.02%25/rs=w:600,h:300,cg:true" alt="proud">
    <div>
      <h3>Home Services Options</h3>
      <p>We provide a full consultation to explain available options so that you can choose the service that's right for your home or business. We strive  to meet your project's needs and save you the time!</p>
    </div>
  </div>

</div>
{% endblock %}