{% extends "main/layout.html" %}
{% load static %}

{% block title %}
Ultimate Service Provider - Contact
{% endblock %}


{% block body %}
<div class='contact-us-div'>
  <h3>Contact Us</h3>
  <p>We Offer Quality Carpentry & Home Services.  Contact us today to schedule a free estimate!</p>
  <h4>Ultimate Service Provider, LLC</h4>
  <p>PO Box 643 Franklin, MA 02038</p>
  <a href="tel:5089186341">
    <p>508-918-6341</p>
  </a>
  <h4>Areas Served</h4>
  <p>Norfolk County, Massachusetts</p>
  <p>Plymouth, Massachusetts</p>

  <div class='contact-form-div'>
    <form class="contact-form" action="">
      <input type="text">
      <textarea name="" id="" cols="30" rows="10"></textarea>
      <button type='submit'>CONTACT</button>
    </form>
  </div>

</div>
{% endblock %}